/node_modules
/dotenv
file.txt
Iphone.txt
macbook_air.txt
myMac.txt
macbook_pro.txt
all_product.txt
allImage.txt
index.js
.nycrc.json
/coverage
/.nyc_output
test/error.txt
test/index.txt
test/response-mac.txt

