/node_modules
/dotenv
file.txt
Iphone.txt
macbook_air.txt
myMac.txt
macbook_pro.txt
all_product.txt
allImage.txt
index.js
.nycrc.json
/coverage
/.nyc_output
/test/index.txt
/test/error.tx
/test/response-mac.txt
