<!--Menu-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://localhost:3000/product/macbook-pro">Macbook Pro</a>
          <a class="dropdown-item" href="http://localhost:3000/product/macbook-air">Macbook Air</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://localhost:3000/product/all-iphone">All Iphone</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!--Content-->
<h2 class="mt-4 ml-3">Victor&amp;FurtunaStore</h2>

<div class="row row-cols-1 row-cols-md-3 g-4 m-2 ">
  {{#each data}}
  <div class="col mb-2">
    <div class="card">
      <img src={{this.image}} class="card-img-top img-thumbnail" alt="...">
      <div class="card-body">
        <h5 class="card-title">new</h5>
        <p class="card-text">{{this.title}}</p>
        <a href="#" target="_blank" class="btn btn-primary">Buy now</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  {{/each}}

</div>