<div class="container mt-5">
        <input
          type="text"
          class="form-control"
          name="autoSearch"
          id="autoSearch"
          placeholder="Search..."
        />
      </div>
    </div>
    <script type="text/javascript">
      $(function () {
        $("#autoSearch").autocomplete({
          name: "autoSearch",
          source: "http://localhost:5555/auto-search?key=%QUERY",
          limit: 6,
        });
      });
    </script>
